---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Engineer in Informatics Science with 6 years + of experience in software
    development. Dominion of various programming languages, frameworks, CMS and
    graphics engines. Experience in WEB design and development. Work with Data
    Base handled systems, as well as design, normalization and migration.
    Knowledge of work with graphic design tools for image manipulation , User
    Interfaces design, Web sites, logos and other ones.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Full stack Developer"
      subtitle="2022 to 2023 at Educamas+Simplon, Bogotá DC, Colombia"
    />
    <TimeLineElement
      title="Biologist"
      subtitle="2016 to 2022 at National University Of Colombia (UN), Bogotá DC, Colombia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UI Designer & Frontend developer ~ Sinergias Project"
      subtitle="March 2023 at Bogotá DC, Colombia"
      desc="System multiplatform that includes the steps of a company's personnel, the structure and composition thereof, as well as a powerful designer of credentials and module of control of access. Outspread at the MINFAR and another entities of the country. Technologies: React, Redux, Expressjs, Figma, Notion, NodeJs"
    />
    <TimeLineElement
      title="Fellowship (CCSD) Missouri Botanical Garden"
      subtitle="From 2022 to 2023 at UN & JBB herbarium, Bogotá DC, Colombia"
      desc="Writing of a scientific article on the floral morphology of the frailejon species of Sumapaz. Technologies: R studio, latex, Canva, Python"
    />
    <TimeLineElement
      title="Ciclovia guard"
      subtitle="From 2017 to 2022 at IDRD, Bogotá DC, Colombia"
      desc="Pedagogy and education of road actors in the public roads of Bogota. With strong emphasis in environmental care and first aid attention."
    />
    <TimeLineElement
      title="Teaching assitant R & Python statistics"
      subtitle="From 2017 to 2022 at UN, Bogotá DC, Colombia"
      desc="I played the role of teaching assistant for the Continuing Education Course: Introduction to data management in R statistics, dictated by the UN, Bogotá. I also taught the role of teaching assistant for the Continuing Education Course: Introduction to data management in Python statistics, dictated by the UN, Bogotá. Technologies: R studio, latex, Canva, Python"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <div class="mt-8">
    <a
      class="btn"
      href="https://www.linkedin.com/in/sesierras"
      target="_blank"
      class="mx-3"
      aria-label="Linkedin"
      title="Linkedin"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: currentColor;transform: ;msFilter:;"
        ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
          d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
        ></path>
      </svg>
    </a>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2"></ul>

  <div class="text-3xl w-full font-bold">Skills</div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B2)</li>
    <li>Portuguese (B2)</li>
    <li>French (B1)</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>React redux</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Trello</li>
    <li>Scrum</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>KdenLive</li>
    <li>Linux enviroment</li>
    <li>Visual Studio Code</li>
    <li>IntelliJ Idea</li>
  </ul>
</BaseLayout>
