---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Sierra Sebastian §</div>
      <div class="text-3xl py-3 font-bold">Full Stack Developer ~ Biologist</div>
      <div class="py-2">
        <text class="text-lg">
          Full Stack developer, particularly interested in researching UX/UI topics. I focus on aspects such as user experience, emotional design, user-centered design, inclusive design, in order to create products and services that are effective, relevant, and accessible to all users. Data analyst in training and biologist with experience in plant morphology and taxonomy, and community ecology.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://api.whatsapp.com/send?phone=573193197976" target="_blank"> Let's connect!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Sinergias"
      img="/public/Logosinergias.png"
      desc="This repository corresponds to the frontend development of the web application made for the Sinergias foundation, in which the creation of Components (Courses) and Forums for social leaders and indigenous communities throughout the Colombian territory is managed."
      url="https://github.com/programateacademy/4-Sinergias-Alianzas-Front-end"
      badge="NEW"
    />
    <!-- <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }
 -->
</BaseLayout>
