---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Sierra Sebastian
  </div>
  <div class="inline opacity-90">
    <!-- Thanks. Please keep this line to support my work :) -->
    <a href="https://www.linkedin.com/in/sesierrashttps://astro-modern-personal-website.netlify.app/" target="_blank" class="font-bold">§</a> developed by
    <a href="https://GitHub.com/sesierras" target="_blank" class="font-bold">Sesierras⚡️</a>
  </div>
</footer>
<style>

</style>
